<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clothing.dao.CartMapper">
  <resultMap id="BaseResultMap" type="com.clothing.entity.Cart">
    <id column="caid" jdbcType="INTEGER" property="caid" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
  </resultMap>
  <sql id="Base_Column_List">
    caid, cid, num, uid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_cart
    where caid = #{caid,jdbcType=INTEGER}
  </select>
  <!--从购物车删除服装-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_cart
    where caid = #{caid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.clothing.entity.Cart">
    insert into t_cart (caid, cid, num, 
      uid)
    values (#{caid,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{num,jdbcType=INTEGER}, 
      #{uid,jdbcType=INTEGER})
  </insert>
  <!--添加服装到购物车-->
  <insert id="insertSelective" parameterType="com.clothing.entity.Cart">
    insert into t_cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="caid != null">
        caid,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="uid != null">
        uid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="caid != null">
        #{caid,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.clothing.entity.Cart">
    update t_cart
    <set>
      <if test="cid != null">
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
    </set>
    where caid = #{caid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.clothing.entity.Cart">
    update t_cart
    set cid = #{cid,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER}
    where caid = #{caid,jdbcType=INTEGER}
  </update>
  <!--展示用户购物车-->
<select id="showUserCart"  parameterType="java.lang.Integer" resultType="com.clothing.common.vo.VCart">
SELECT u.uid,ca.caid,c.imgpath,c.clothingname,ca.num,c.price
				 FROM t_cart ca
				 INNER JOIN t_clothing c
				 ON ca.cid = c.cid
				 INNER JOIN t_user u
				 ON ca.uid = u.uid
				 WHERE u.uid =#{uid}


</select>
</mapper>